---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import "../../styles/tailwind.css"
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en" class="mx-auto w-full h-full antialiased bg-offWhite">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="container">
		<Header />
		<main class="mx-auto mt-4 mb-2 max-w-2xl">
			<section>
				<ul>
					{posts.map((post) => (
						<li>
						<a href={`/blog/${post.id}/`}>
							<h4 class="text-2xl">{post.data.title}</h4>
							<FormattedDate date={post.data.pubDate} />
						</a>
							</li>
						))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
