---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/tailwind.css";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en" class="mx-auto w-full h-full antialiased bg-offWhite">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="container min-h-screen flex flex-col justify-between">
    <Header />
    <main>
      <article class="prose max-w-prose mx-auto">
        <div class="m-auto pl-1">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="italic">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 class="mb-2">{title}</h1>
          <hr />
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
